$tile-h: 150px;

@font-face {
  font-family: HelveticaNeue-UltraLight;
  src: url(font/helveticaneuecyr-ultralight.otf);
}
html {
  @extend body;
  font-size: 18px;
  font-family: HelveticaNeue-UltraLight;
  color: white;
  background: url(img/pattern.png);
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 230px;
  margin: 5px 0 0;
}
small {
  opacity: .5;
  font-size: .8rem;
}
#home {
  background-color: #3387EA;
  background-image: url(img/home.png);
}
#about {
  background-color: #F9BE3E;
  background-image: url(img/about.png);
}
#portfolio {
  background-color: #D3573F;
  background-image: url(img/portfolio.png);
  width: 280px;
}
#photos {
  background-color: #59B1E3;
  background-image: url(img/photos.png);
}
#testimonials {
  background-color: #33AF95;
  background-image: url(img/testimonials.png);
}
#wannahireme {
  background-color: #86A73F;
  background-image: url(img/wannahireme.png);
  width: 310px;
}
#blog {
  background-color: #151A26;
  width: 440px;
  @media all and (max-width: 459px) {
    width: 440 - $tile-h;
  }
  #blog-pic {
    float: left;
    width: $tile-h;
    height: 100%;
    background: url(img/nouncy.png) top center;
    @media all and (max-width: 459px) {
      display: none;
    }
  }
  #blog-text {
    $news-padding-h: 7px !global;
    $news-padding-v: 25px !global;
    $news-max-width: 290px !global;
    float: right;
    width: 100%;
    height: 100%;
    max-width: $news-max-width;
    box-sizing: border-box;
    padding:  $news-padding-h $news-padding-v;
  }
}
#contact {
  background-color: #7F5A8D;
  background-image: url(img/contact.png);
}
#facebook {
  background-image: url(img/facebook.png);
}
#twitter {
  background-image: url(img/twitter.png);
}
#googleplus {
  background-image: url(img/googleplus.png);
}
/* ellipsis hack for webkit browsers from https://gist.github.com/kogakure/27b6e02034bae4ed7c70 */
@mixin ellipsis {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $news-max-width - ($news-padding-v * 2);
}
.tile {
  height: $tile-h;
  width: $tile-h;
  margin: 5px;
  float: left;
  cursor: pointer;
  transition: transform .2s ease;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  .tile-title {
    position: absolute;
    bottom: 0;
    margin: .3rem .6rem;
  }
  .tile-title-top {
    margin: .4rem 0;
    max-height: 2.2rem;
    @include ellipsis;
  }
  .tile-text {
    $font-size: 1.2rem;
    $line-height: 1.5;
    font-size: $font-size;
    line-height: $line-height;
    height: $font-size*$line-height*2;
    margin: .5rem 0;
    @include ellipsis;
  }
  .tile-date {
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    margin-bottom: .3rem;
    
  }
  &.pressed-right {
    transform: perspective(800px) rotateY(10deg);
    transform-origin: left center 0;
  }
  &.pressed-left {
    transform: perspective(800px) rotateY(-10deg);
    transform-origin: right center 0;
  }
  &.pressed-top {
    transform: perspective(800px) rotateX(10deg);
    transform-origin: center bottom 0;
  }
  &.pressed-bottom {
    transform: perspective(800px) rotateX(-10deg);
    transform-origin: center top 0;
  }
}
.container {
  margin: 0 auto;
  padding: 0 5px;
  width: 100%;
  max-width: 940px;
  box-sizing: border-box;
  @media all and (max-width: 320px) {
    padding: 0;
  }
}
.main-footer {
  clear: both;
}
.mini-tile {
  height: .5*$tile-h;
  width: .5*$tile-h;
}
.copyright {
  float: right;
  margin: 40px 5px 185px;
}