@font-face {
  font-family: HelveticaNeue-UltraLight;
  src: url(font/helveticaneuecyr-ultralight.otf); }

html {
  font-size: 18px;
  font-family: HelveticaNeue-UltraLight;
  color: white;
  background: url(img/pattern.png); }

body, html {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 230px;
  margin: 5px 0 0; }

small {
  opacity: .5;
  font-size: .8rem; }

#home {
  background-color: #3387EA;
  background-image: url(img/home.png); }

#about {
  background-color: #F9BE3E;
  background-image: url(img/about.png); }

#portfolio {
  background-color: #D3573F;
  background-image: url(img/portfolio.png);
  width: 280px; }

#photos {
  background-color: #59B1E3;
  background-image: url(img/photos.png); }

#testimonials {
  background-color: #33AF95;
  background-image: url(img/testimonials.png); }

#wannahireme {
  background-color: #86A73F;
  background-image: url(img/wannahireme.png);
  width: 310px; }

#blog {
  background-color: #151A26;
  width: 440px; }
  @media all and (max-width: 459px) {
    #blog {
      width: 290px; } }
  #blog #blog-pic {
    float: left;
    width: 150px;
    height: 100%;
    background: url(img/nouncy.png) top center; }
    @media all and (max-width: 459px) {
      #blog #blog-pic {
        display: none; } }
  #blog #blog-text {
    float: right;
    width: 100%;
    height: 100%;
    max-width: 290px;
    box-sizing: border-box;
    padding: 7px 25px; }

#contact {
  background-color: #7F5A8D;
  background-image: url(img/contact.png); }

#facebook {
  background-image: url(img/facebook.png); }

#twitter {
  background-image: url(img/twitter.png); }

#googleplus {
  background-image: url(img/googleplus.png); }

/* ellipsis hack for webkit browsers from https://gist.github.com/kogakure/27b6e02034bae4ed7c70 */
.tile {
  height: 150px;
  width: 150px;
  margin: 5px;
  float: left;
  cursor: pointer;
  transition: transform .2s ease;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat; }
  .tile .tile-title {
    position: absolute;
    bottom: 0;
    margin: .3rem .6rem; }
  .tile .tile-title-top {
    margin: .4rem 0;
    max-height: 2.2rem;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px; }
  .tile .tile-text {
    font-size: 1.2rem;
    line-height: 1.5;
    height: 3.6rem;
    margin: .5rem 0;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px; }
  .tile .tile-date {
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    margin-bottom: .3rem; }
  .tile.pressed-right {
    transform: perspective(800px) rotateY(10deg);
    transform-origin: left center 0; }
  .tile.pressed-left {
    transform: perspective(800px) rotateY(-10deg);
    transform-origin: right center 0; }
  .tile.pressed-top {
    transform: perspective(800px) rotateX(10deg);
    transform-origin: center bottom 0; }
  .tile.pressed-bottom {
    transform: perspective(800px) rotateX(-10deg);
    transform-origin: center top 0; }

.container {
  margin: 0 auto;
  padding: 0 5px;
  width: 100%;
  max-width: 940px;
  box-sizing: border-box; }
  @media all and (max-width: 320px) {
    .container {
      padding: 0; } }

.main-footer {
  clear: both; }

.mini-tile {
  height: 75px;
  width: 75px; }

.copyright {
  float: right;
  margin: 40px 5px 185px; }
